*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
 .container{
	width:90%;
	margin:auto;
}
.header{
	position:fixed;
	background-color:rgb(235, 245, 243);
	width:100%;
	height:10vh;
	top:4;
	left:0;
	right:0;
	z-index:997;

}
 .headbar a{
	text-decoration:none;
}
.headbar li{
	list-style-type:none;
	margin-left:15px;
}
.headbar{
	width:100%;
	height:50px;
	display:flex;
	justify-content:space-between;
    align-items:center; 
}
.logo{
	width:40%;
}
.logo img{
	width:10%;
	height:40px;
}
.headbar ul{
display:flex;
justify-content:space-between;	
}
.headbar nav{
	width:60%;
}
 /* panner */
.banner{
	background-image:url(../img/home-bg.jpg);
	background-size:cover;  
	background-attachment:fixed;
	width:100%;
	height:650px;
	position:relative;
}
.banner-cont h1{ 
	letter-spacing:3px;
	font-size:3rem;
	font-weight:bold;
}
.banner-cont p{
	letter-spacing:3px;
	font-size:18px;
	font-weight:30px;
	margin-top:10px;
}
.banner-cont{
	color:white;
	padding-top:300px;
}
.icons{
	margin-top:10px;
	padding:20px 10px 10px 0px;
}
.about-cont{ 
	display:flex;
	justify-content:space-between;
	width:100%;
	height:50vh;
	padding-top:50px;
}
.about{
	width:100%;
	height:400px;
	margin-top:30px;
	background-color:white;
}
.about-pic{ 
	border:15px solid rgb(230, 162, 94);
	margin-top:50px;
	width:25%;
	height:60vh;
} 
.about-pic img{
	width:230px;
    height:300px;
}
.img{
	margin-left:30px;
	margin-top:-7vh;
}
.about-content{
	width:65%; 
	color:gray;
	margin-top:10vh;
	letter-spacing:3px;
	line-height:30px;
}
.about-content p{
 padding-top:30px;
 text-transform:caption;
}
.about-content h1{
	font-weight:bold;
	font-size:30px;
} 
/* service */
.service{
	width:100%;
	height:20vh;
	margin-top:30px;
}
.service-cont{
	width:100%;
	height:20vh;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.icon2{
	width:24%;
	height:20vh;
	box-shadow: 0 0 0.7px black;
	padding:5px;
}
.icon2 h5{
	font-size:11px;
}
.icon2 i{
	font-size:30px;
	color:rgba(176, 82, 19, 0.6);
}
.icon2 p{
	font-size:13px;
	color:gray;
	line-height:3vh;
	padding-top:5px;
}
/* portfolio */
.porfolio{
	padding-top:30px;
}
.pro{
	text-align:center;
}
.pro h1{
	font-size:2rem;
	letter-spacing:1px;
	font-weight:bold;
   text-shadow:0 0 1px black;
}
.por-ul a{
	text-decoration:none;
	margin-left:6px;
	font-size:10px;
	color:black;
	font-weight:bold;
	margin-top:30%;
}
.por-ul a:hover{
	color:orange;
}
.por-img{
	display:flex;
	justify-content:space-between;
	margin-top:20px;
}
